<ion-tabs>
    <ion-tab-bar slot="bottom">
        <!-- Home tab -->
        <ion-tab-button tab="reports">
            <ion-icon name="home"></ion-icon>
            <ion-label>Home</ion-label>
        </ion-tab-button>

        <!-- Expense tab -->
        <ion-tab-button tab="expense">
            <ion-icon name="trending-down"></ion-icon>
            <ion-label>Expenses</ion-label>
        </ion-tab-button>

        <!-- Income tab -->
        <ion-tab-button tab="income">
            <ion-icon name="trending-up"></ion-icon>
            <ion-label>Income</ion-label>
        </ion-tab-button>
    </ion-tab-bar>
</ion-tabs>