<form #incomeForm="ngForm" (ngSubmit)="logForm()">
  <ion-item>
    <ion-label position="stacked" color="primary">Name</ion-label>
    <ion-input name="name" #name="ngModel" type="text" [(ngModel)]="incomeModel.name"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="stacked" color="primary">Ammount</ion-label>
    <ion-input name="ammount" #ammount="ngModel" type="number" [(ngModel)]="incomeModel.ammount"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="stacked" color="primary">Date</ion-label>
    <ion-datetime name="date" #date="ngModel" display-format="DD/MM/YYYY" [(ngModel)]="incomeModel.date"></ion-datetime>
  </ion-item>
  <ion-item>
    <ion-label position="stacked" color="primary">Income Category</ion-label>
    <ion-select name="category"  #category="ngModel" ok-text="Ok" cancel-text="Cancel"  [(ngModel)]="incomeModel.category">
      <ion-select-option  *ngFor="let category of categoryList">{{ category.name }}</ion-select-option>
    </ion-select>
  </ion-item>
  <ion-button type="submit" color="primary">Add income</ion-button>
</form>
