<!-- Header -->
<app-header [title]="title"
            [dateForm]="dateForm"
            (listModeOutput)="chartModeListener($event)"
            (chartModeOutput)="chartModeListener($event)"
            (dateFormOutput)="populateIncomeListQ($event)">

</app-header>

<!-- Content -->
<ion-content *ngIf="!listIsReady">
    <ion-spinner name="lines">

    </ion-spinner>
</ion-content>
<ion-content *ngIf="chartMode && listIsReady">
    <ion-slides pager="true" [options]="slideOpts">
        <ion-slide>
            <ion-list>
                <ion-item *ngFor="let category of categoryList;
                  let index = index;
                  trackBy: trackByIndex;">
                    <ion-label position="stacked" color="primary">{{ category.name }}</ion-label>
                    <input [(colorPicker)]="categoryList[index].backgroundColor" [style.background]="category.backgroundColor" [(ngModel)]="categoryList[index].backgroundColor">
                </ion-item>
            </ion-list>
        </ion-slide>
        <ion-slide>
            <app-doughnut-chart [chartVar]="chartVar">

            </app-doughnut-chart>
        </ion-slide>
        <ion-slide>
            <app-bar-chart [chartVar]="chartVar">

            </app-bar-chart>
        </ion-slide>
    </ion-slides>
</ion-content>
<ion-content [hidden]="chartMode && listIsReady" padding>
    <ion-list #incomeListName>
        <ion-item-sliding *ngFor="let income of incomeList">
            <app-incomeitem (onAddIncomeOutput)="addIncome($event)"
                            (onEditIncomeOutput)="editIncomeFromList($event)"
                            (deleteIncomeOutput)="deleteIncomeFromList($event)"
                            [income]="income">

            </app-incomeitem>
        </ion-item-sliding>
    </ion-list>
</ion-content>