<!-- Header -->
<app-header [title]="title"
            (listModeOutput)="chartModeListener($event)" 
            (chartModeOutput)="chartModeListener($event)" 
            (dateFormOutput)="populateExpenseListQ($event)">
</app-header>

<!-- Content -->
<ion-content *ngIf="!listIsReady">
    <ion-spinner name="lines"></ion-spinner>
</ion-content>
<ion-content *ngIf="chartMode && listIsReady">
    <ion-slides>
        <ion-slide>
            <app-doughnut-chart [chartVar]="chartVar">

            </app-doughnut-chart>
        </ion-slide>
        <ion-slide>
            <app-bar-chart [chartVar]="chartVar">

            </app-bar-chart>
        </ion-slide>
    </ion-slides>   
</ion-content>
<ion-content [hidden]="chartMode && listIsReady" padding>
    <ion-list #expenseListName>
        <ion-item-sliding *ngFor="let expense of expenseList" [ngStyle]="{'border-left': '4px solid ' + expense.category.borderColor}" >
            <app-expenseitem (onEditExpenseOutput)="editExpenseFromList($event)" 
                             (onAddExpenseOutput)="onAddExpense($event)"                
                             (deleteExpenseOutput)="deleteExpenseFromList($event)" 
                             [expense]="expense">
            </app-expenseitem>
        </ion-item-sliding>
    </ion-list>
</ion-content>