<!-- Header -->
<ion-header>
    <ion-toolbar>
        <ion-buttons routerLink="/home/expense" slot="start">
            <ion-button fill="solid" color="primary">
                <ion-icon slot="start" name="arrow-back"></ion-icon>
                Back
            </ion-button>
        </ion-buttons>
        <ion-title>
            Edit expense
        </ion-title>
    </ion-toolbar>
</ion-header>
<!-- Content -->
<ion-content padding>
    <app-fgexpense [expenseModel]="expense" [submitLabel]="'Edit'" (expenseFormOutput)="editExpense($event)"></app-fgexpense>
</ion-content>
