<ion-header>
    <ion-list #toolbar>
        <ion-item-sliding>
            <ion-item>
                <ion-title text-center>{{ title }}</ion-title>
            </ion-item>
            <ion-item-options side="start">
                <ion-item-option>
                    <ion-label position="stacked">{{ chartMode == true ? toggleLabelList : toggleLabelChart }}</ion-label>
                    <ion-toggle color="secondary" [(ngModel)]="chartMode" (ionChange)="onChartMode(chartMode)"></ion-toggle>
                </ion-item-option>
            </ion-item-options>
            <ion-item-options side="end">
                <ion-item-option>
                    <ion-icon size="large" (click)="searchContainer()" name="search"></ion-icon>
                </ion-item-option>
            </ion-item-options>
        </ion-item-sliding>
    </ion-list>
</ion-header>
<div *ngIf="searchFormActive">
    <form #dateFormForm="ngForm" (ngSubmit)="logForm()">
        <ion-item>
            <ion-label color="primary">Start date</ion-label>
            <ion-datetime name="startDate" #startDate="ngModel" display-format="DD/MM/YYYY" [(ngModel)]="dateForm.startDate"></ion-datetime>
        </ion-item>
        <ion-item>
            <ion-label color="primary">End date</ion-label>
            <ion-datetime name="endDate" #endDate="ngModel" display-format="DD/MM/YYYY" [(ngModel)]="dateForm.endDate"></ion-datetime>
        </ion-item>
        <ion-button type="submit" color="primary">Search</ion-button>
    </form>
</div>